@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --black-color: #333333;
  --white-color: #ffffff;
  --purple-color: #9d5cd0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

section {
  align-items: center;
}

section:not(:last-child) {
  margin-bottom: 80px;
}

.second-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.37px;
}

.third-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.black-heading {
  color: var(--black-color);
}

.white-heading {
  color: var(--white-color);
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-button-prev {
  top: 120px;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../img/prev-btn.png") no-repeat 55% 45% #666666;
  color: var(--white-color);
  border-radius: 50%;
}

.swiper-button-next {
  top: 120px;
  left: 100px;
  width: 30px;
  height: 30px;
  background: url("../img/next-btn.png") no-repeat 45% 45% #666666;
  color: var(--white-color);
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-pagination {
  top: 98px;
  left: 41px;
  width: 47px;
  height: 23px;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.swiper-wrapper {
  top: 175px;
}

/* Header */
.header-top-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  /*width: 896px;*/
}

.nav-item {
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 600;
}

.nav-item:not(:last-child) {
  margin-right: 62px;
}

.nav-link {
  color: var(--white-color);
}

.enter-link {
  margin-left: 279px;
  font-size: 18px;
  line-height: 24.51px;
  border: 0;
  color: var(--white-color);
}

.header-bottom-content {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.bottom-menu-list {
  display: flex;
  justify-content: space-between;
}

.bottom-menu-item {
  font-size: 18px;
  line-height: 24.51px;
}

.bottom-menu-item:not(:last-child) {
  margin-right: 97px;
}

.bottom-menu-link {
  padding-right: 15.07px;
  color: var(--white-color);
  background: url("../img/menu-icon.png") no-repeat 100%;
}

.search-icon {
  width: 22.1px;
  height: 21.62px;
  transform: translateY(7px);
}

.search-input {
  width: 218px;
  padding-left: 0;
  padding-bottom: 3px;
  border: 0;
  border-bottom: 1px solid var(--white-color);
  background-color: transparent;
  cursor: pointer;
}

.search-input::placeholder {
  font-size: 18px;
  line-height: 24.51px;
  color: var(--white-color);
}

/* Hero */
.section-hero {
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash 2.jpg") no-repeat 40% 100%;
  background-size: cover;
}

.hero {
  padding-top: 133px;
}

.main-heading {
  width: 570px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
  color: var(--white-color);
}

.hero-description {
  width: 579px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.subscribe-btn {
  width: 314px;
  height: 70px;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--white-color);
  background-color: var(--purple-color);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

/* About Us */
.about-us-description {
  width: 1080px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 32px;
}

/* Gallery */
.section-gallery {
  width: 100%;
  height: 995px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/birmingham-museums-gallery.jpg") no-repeat;
  background-size: cover;
}

.gallery-content-blocks {
  display: flex;
  justify-content: space-between;
}

.gallery-left-block {
  width: 401px;
  padding-top: 80px;
}

.filter-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.choices {
  margin-top: 10px;
  border: 1px solid var(--white-color);
  border-radius: 6px;
}

.choices__inner {
  width: 400px;
  height: 40px;
  padding-top: 3px;
  font-size: 16px;
  background-color: transparent;
  border: 0;
}

.choices[data-type*=select-one] .choices__inner {
  line-height: 32px;
}

.choices__list--dropdown {
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.choices__list--dropdown .choices__item {
  padding-left: 20px;
  color: #999999;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices[data-type*='select-one']::after {
  content: '';
  top: 40%;
  width: 12px;
  height: 12px;
  border: 0;
  background: url('../img/prev-btn.png') no-repeat 100% 100%;
  transform: rotate(-90deg);
}

.choices[data-type*='select-one'].is-open::after {
  content: '';
  width: 12px;
  height: 12px;
  margin-top: 0;
  background: url('../img/prev-btn.png') no-repeat 100% 100%;
  transform: rotate(90deg);
}

.gallery-authorisation-description {
  width: 370px;
  margin-top: 545px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  word-wrap: break-word;
  color: var(--white-color);
}

.authorisation-link {
  color: var(--purple-color);
}

.gallery-right-block {
  position: relative;
  width: 1150px;
  height: 1000px;
}

.images-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 750px;
}

.image-item {
  width: calc((100% - 100px) / 3);
  height: 350px;
  margin-bottom: 50px;
}

/* Catalog */
.catalog-heading {
  display: flex;
}

.catalog-languages-list {
  display: flex;
  justify-content: space-between;
  margin-left: 41px;
  margin-bottom: 30px;
  align-items: center;
}

.language-item:not(:last-child) {
  margin-right: 50px;
}

.language-btn {
  width: 66px;
  height: 66px;
  padding: 10px;
  border: 0;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.language-btn-active {
  border: 2px solid var(--purple-color);
}

.french-btn {
  background: url("../img/french.png") no-repeat 45% 50%;
}

.german-btn {
  background: url("../img/german.png") no-repeat 45% 50%;
}

.italian-btn {
  background: url("../img/italian.png") no-repeat 45% 50%;
}

.russian-btn {
  background: url("../img/russian.png") no-repeat 45% 50%;
}

.belgian-btn {
  background: url("../img/belgian.png") no-repeat 45% 50%;
}

.catalog-description {
  width: 1080px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
}

.catalog-content-blocks {
  display: none;
  justify-content: space-between;
}

.catalog-content-active {
  display: flex;
}

.catalog-left-block {
  width: 750px;
}

.catalog-image {
  margin-bottom: 30px;
}

.author-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.68px;
}

.years-of-life {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.author-description {
  width: 749px;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 21.79px;
}

.catalog-right-block {
  width: 100%;
  margin-left: 50px;
}

.ages-item {
  width: 100%;
  align-items: center;
}

.ages-item:first-child {
  border-top: 1px solid #cacaca;
}

.catalog-ages .ui-accordion-header {
  position: relative;
  /*padding: 0;*/
  padding-top: 38px;
  padding-bottom: 38px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  border-bottom: 1px solid #cacaca;
  outline: none;
  cursor: pointer;
  transition: border-bottom-color .4s ease-in-out;
}

.catalog-ages .ui-accordion-content {
  padding-top: 25px;
  padding-bottom: 38px;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid var(--purple-color);
  color: var(--black-color);
}

.catalog-ages .ui-accordion-header-active {
  border-bottom: 1px solid var(--purple-color);
}

.catalog-ages .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  top: 32px;
  right: 0;
  width: 50px;
  height: 50px;
  background: url("../img/accordion-icon.svg") no-repeat 51% 48% #ececec;
  border-radius: 50% 50%;
  transition: .4s ease-in-out;
}

.catalog-ages .ui-accordion-header-active .ui-accordion-header-icon {
  transform: rotate(180deg);
}

.authors-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 290px;
}

.author-link {
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

.author-chosen {
  font-weight: 600;
  color: var(--purple-color);
}

/* Events */
.events-list {
  display: flex;
  justify-content: space-between;
}

.event-item {
  width: calc((100% - 100px) / 3);
}

.event-image-field {
  width: 100%;
  height: 300px;
}

.gravure-image {
  background: url("../img/gravure.jpg") no-repeat;
  background-size: cover;
}

.mosaic-image {
  background: url("../img/mosaic.jpg") no-repeat;
  background-size: cover;
}

.hall-image {
  background: url("../img/hall.jpg") no-repeat;
  background-size: cover;
}

.event-data {
  position: relative;
  height: 400px;
  padding: 13px 19px 43px 50px;
  border: 1px solid #cacaca;
  border-top: 0;
}

.event-under-image-text {
  text-align: right;
  font-size: 12px;
  line-height: 16.34px;
  color: #999999;
}

.event-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.68px;
}

.event-description {
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 32px;
  word-break: break-word;
}

.more-about-event {
  position: absolute;
  top: 327px;
  font-size: 16px;
  line-height: 32px;
  color: var(--purple-color);
  border-bottom: 1px solid var(--purple-color);
}

.all-events {
  display: block;
  height: 60px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--purple-color);
  background-color: var(--white-color);
  border: 2px solid var(--purple-color);
  border-radius: 100px;
  cursor: pointer;
}

/* Publications */
.section-publications {
  width: 100%;
  height: 766px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/birmingham-museums-publications.jpg") no-repeat;
  background-size: cover;
}

.publications-content-blocks {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 80px;
}

.publications-left-block {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.publication-form-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.publications-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-label {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
  cursor: pointer;
}

.category-checkbox {
  display: none;
}

.category-checkbox + .category-name {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid var(--white-color);
}

.category-checkbox + .category-name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.category-checkbox:checked + .category-name::before {
  content: '';
  opacity: 1;
}

.category-checkbox:checked + .category-name {
  border: 1px solid var(--purple-color);
  background: url("../img/checkbox-dot.png") no-repeat 50% 50%;
}

.category-checkbox:checked + .category-name + .visible-category {
  color: var(--purple-color);
}

.price-inputs-form {
  margin-top: 25px;
}

.inputs-block {
  height: 40px;
  margin-top: 10px;
  padding-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  align-items: center;
}

.price-label {
  margin-left: 10px;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.price-input {
  height: 100%;
  width: 73px;
  margin-left: 10px;
  padding-left: 10px;
  border: 0;
  background-color: var(--purple-color);
}

.price-input::placeholder {
  color: var(--white-color);
}

.publications-right-block {
  position: relative;
  width: 1150px;
  height: 1000px;
}

.publications-list {
  display: flex;
  justify-content: space-between;
}

.publications-item {
  width: calc((100% - 100px) / 3);
}

.publication-description {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.publication-info {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 21.79px;
  color: var(--white-color);
}

.publication-name {
  font-weight: 700;
}

.publication-price {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  color: var(--white-color);
}

.order-btn {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  color: var(--white-color);
  background-color: inherit;
  border: 2px solid var(--purple-color);
  border-radius: 100px;
  cursor: pointer;
}

/* Projects */
.projects-description {
  width: 1080px;
  height: 246px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 32px;
  word-wrap: unset;
}

.tooltip {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  transform: translateY(2px);
}

.marker {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.popup {
  position: absolute;
  bottom: 14px;
  left: -124px;
  width: 264px;
  height: 59px;
  padding-top: 8px;
  padding-left: 11px;
  padding-right: 11px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--white-color);
  background-image: url("../img/first-tooltip.png");
  opacity: 0;
  transition: opacity;
}

.second-popup {
  width: 264px;
  height: 74px;
  background-image: url("../img/second-popup.png");
}

.third-popup {
  left: -108px;
  width: 232px;
  height: 42px;
  background-image: url("../img/third-popup.png");
}

.marker:hover + .popup {
  opacity: 1;
}

.blanchard-link {
  font-weight: 600;
  color: var(--purple-color);
}

.project-swiper {
  width: 100%;
  margin-top: 23px;
}

.project-prev-btn {
  top: 83px;
  background: url("../img/swiper-prev-black.png") no-repeat 55% 50% #ececec;
}

.project-next-btn {
  top: 83px;
  left: 1570px;
  background: url("../img/swiper-next-black.png") no-repeat 50% 50% #ececec;
}

.project-wrapper {
  top: 0;
  left: 75px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  width: 1450px;
}

.partners-item {
  width: calc((100% - 100px) / 3);
  height: 150px;
  text-align: center;
  line-height: 150px;
  border: 1px solid #cacaca;
}

.partner-image {
  vertical-align: middle;
}

/* Contacts */
.section-contacts {
  width: 100%;
}

.contacts-content-blocks {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contacts-left-block {
  width: 700px;
  height: 682px;
  padding-top: 124px;
  padding-bottom: 124px;
  border: 1px solid #CACACA;
  align-items: center;
}

.contact-left-centered {
  max-width: 402px;
  margin-left: 160px;
}

.address-string {
  margin-top: 10px;
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 32px;
}

.contact-us-heading {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.contact-input {
  width: 400px;
  height: 40px;
  margin-bottom: 22px;
  padding-left: 24px;
  outline: none;
  border: 1px solid #333333;
  border-radius: 100px;
}

.contact-btn {
  width: 157px;
  height: 59px;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--purple-color);
  background-color: var(--white-color);
  border: 2px solid var(--purple-color);
  border-radius: 100px;
  cursor: pointer;
}

.contact-list {
  display: flex;
  margin-top: 18.63px;
}

.contact-item {
  width: 40px;
  height: 40px;
}

.contact-item:not(:last-child) {
  margin-right: 20.63px;
}

.contacts-right-block {
  width: 1220px;
}

.map {
  width: 100%;
  height: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* Footer */
.footer {
  width: 100%;
  height: 140px;
  padding-top: 50px;
  background-color: #000000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
}

.social-item {
  width: 45.4px;
  height: 45.4px;
}

.social-item:not(:last-child) {
  margin-right: 19px;
}